<div class="sidenav">
    <p class="sidebar_heading">AskRiskiE Admin</p>
  <ul class="admin_sidenav">
    
    <li><a routerLink="/admin-category"><i class="fas fa-tasks"></i> &nbsp;&nbsp;Category</a></li>
    <li><a routerLink="/admin-category"><i class="fas fa-glass-martini"></i>&nbsp;&nbsp;Risk Class</a></li>
    <li><a routerLink="/admin-product"><i class="fab fa-product-hunt"></i>&nbsp;&nbsp;Product</a></li>
    <li><a routerLink="/admin-category"><i class="fas fa-user"></i>&nbsp;&nbsp;Users</a></li>
    <li><a routerLink="/admin-category"><i class="far fa-money-bill-alt"></i>&nbsp;&nbsp;Billing</a></li>
    <li><a routerLink="/welcom"><i class="fas fa-home"></i>&nbsp;&nbsp;Home</a></li>
</ul>
</div>