 <!--  slider -->
 <section class="category_search">
    <div class="container-fluid text-center">
        <div class="row">
            <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
                <img src="../assets/images/search.png">
                <p>Search</p>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
                <img src="../assets/images/identity.png">
                <p>Identify risks and hazards</p>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
                <img src="../assets/images/activity.png">
                <p>Simplify your risk<br> management activities</p>
            </div>
        </div>
    </div>
</section>
<section class="search_product">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <h3 class="text-center search_prod_label"><strong>Search Product</strong></h3>
                <p class="pull-right browse_text"><a href="#">Browse All Products</a></p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12" *ngFor="let category of categoryList">
                <div class="search_productgrid">
                    <img src="../assets/images/search_03.jpg">
                    <div class="search_desc">
                            <p>{{category.catname}}</p>
                        <p>{{category.productcnt}} product inside</p>
                        <p class="text-right"><a [routerLink]="['/user-product', category.id]">View Product</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</section>