<!-- <div class="col-md-6 col-md-offset-3">
    <h1>Hi {{currentUser.firstName}}!</h1>
    <p>You're logged in with google!!</p>
    <h3>All registered users:</h3>
    <ul>
        <li *ngFor="let user of users">
            {{user.username}} ({{user.firstName}} {{user.lastName}})
            - <a (click)="deleteUser(user.id)">Delete</a>
        </li>
    </ul>
    <p><a [routerLink]="['/login']">Logout</a></p>
</div> -->

 <!--  slider -->
 <section class="slide-wrapper">
  <div class="container-fluid">
      <div class="col-xs-12 banner-data">
          <h1>Ask RiskiE <br> What Are Your Health and Safety Risks? </h1>
          <div class="banner_btn">
              <a class="cust_btn btn_org">View Details</a>
              <a class="cust_btn btn_blue">Get Started</a>
          </div>
      </div>
  </div>
</section>

<!-- services -->
<section class="services text-center">
  <div class="container-fluid">
      <div class="services_data">  
          <div class="services_wrap col-xs-12 col-sm-6 col-md-3 no_padding">
              <div class="icon-img" alt="services 1"> 
                  <img src='../assets/images/Register.png'>
              </div>
              <p>Register with RiskiE. Tell us your story.</p>
          </div>

          <div class="services_wrap col-xs-12 col-sm-6 col-md-3 no_padding">
              <div class="icon-img" alt="services 2"> 
                  <img src="../assets/images/Serach.png">
              </div>
              <p>Search products, identify risks and hazards, understand the harm that may be  associated with your product.</p>
          </div>

          <div class="services_wrap col-xs-12 col-sm-6 col-md-3 no_padding">
              <div class="icon-img" alt="services 3"> 
                  <img src="../assets/images/Risk_management.png">
              </div>
              <p>Become an Expert user. Use our tools to simplify your Risk Management Activities.</p>
          </div>

          <div class="services_wrap col-xs-12 col-sm-6 col-md-3 no_padding">
              <div class="icon-img" alt="services 4"> 
                  <img src="../assets/images/view.png">
              </div>
              <p>View our library or create your own projects with our easy to use tools.</p>
          </div>
      </div>
  </div>
</section>

<!-- vision section -->
<section class="vision text-center">
  <div class="container-fluid no_padding">
      <h2>Vision</h2>
      <p>A world where everyone has the opportunity for a healthy life.</p>
  </div>
</section>

<!--vision section -->
<section class="our_work">
  <div class="container-fluid text-center">
      <h2>Our Work</h2>
      <div class="vision_data col-xs-12 col-sm-4">
          <h3>Saving Lives</h3>
          <p>We are focused on providing complete risk management solutions to support the product development life cycle and post production activities of your Life Science Project</p>
      </div>

      <div class="vision_data col-xs-12 col-sm-4">
          <h3>Improving health</h3>
          <p>We want to support you by providing information about the potential health and safety risks of products available on the market. Access to this information will support you for safe and better products.</p>
      </div>

      <div class="vision_data col-xs-12 col-sm-4">
          <h3>State Of the Art</h3>
          <p>RiskiE is a subject matter expert in Risk Management and a Technical Expert therefore, can be trusted.
          Register Now</p>
      </div>
  </div>
</section>

<!-- Who we are -->
<section class="who_we_r">
  <div class="container-fluid">
      <div class="w_img_container col-xs-12 col-sm-6">
          <img src="../assets/images/who_we_r1.png" alt="Who we are">
      </div>
      <div class="col-xs-12 col-sm-6">
          <h2>Who We Are</h2>
          <p>We are focused on providing you with complete risk management solutions and in providing the highest level of customer satisfaction. We welcome your feedback and by listening to you, we will continue to generate better tools and improve how you assess your risks, enabling  you to focus on mitigating those risks and creating a safe and healthier society.</p>
          <p>RiskiE is your expert, assigned to support your Risk Management Process. RiskiE has led innumerable risk assessment activities and believes we can do this better, easier and share our knowledge to support each other in creating healthier and better lives.</p>
      </div>
  </div>
</section>